<div class="ui-form__dropdown">
  <div class="ui-form__dropdown-arrow"></div>
  <select class="ui-form__dropdown-select">
    {% for option in options.split %}
      <option class="ui-form__dropdown-select-option" {% if 'selected' in option %}selected{% endif %}>{{ option }}</option>
    {% endfor %}
    <!-- <option class="ui-form__dropdown-select-option" selected="selected" disabled="disabled">How did you hear about Masters?</option>
    <option class="ui-form__dropdown-select-option">1</option>
    <option class="ui-form__dropdown-select-option">2</option>
    <option class="ui-form__dropdown-select-option" disabled="disabled">3</option> -->
  </select>
</div>