{% load i18n %}




{% for field in form %}
    {% include 'partials/form_field.html' with field=field style=style %}
{% endfor %}

{% comment %}
    {% if form.is_bound and not form.is_valid %}
        <div class="ui-form__error">
            {% trans "Oops! We found some errors" %}
            <br/>
            {% trans "Please check the error messages below and try again" %}
        </div>
    {% endif %}
{% endcomment %}
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="ui-form__error">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}